<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android" 
	id="com.justep.cordova.plugin.push"
	version="5.3.0">
	<name>PushPlugin</name>
	<engines>
		<engine name="cordova" version=">=3.5.0" />
	</engines>
	
	<!-- android -->
	<platform name="android">
	    <js-module src="www/android/push.js" name="push">
			<clobbers target="navigator.push" />
		</js-module>
		<source-file
			src="src/android/com/justep/cordova/plugin/push/Notify.java"
			target-dir="src/com/justep/cordova/plugin/push" />
		<source-file
			src="src/android/com/justep/cordova/plugin/push/PushPlugin.java"
			target-dir="src/com/justep/cordova/plugin/push" />
		<source-file
			src="src/android/com/justep/x5/service/CoreService.java"
			target-dir="src/com/justep/x5/service" />
		
		<source-file
			src="src/android/com/justep/x5/service/CoreServiceDaemonReceiver.java"
			target-dir="src/com/justep/x5/service" />
		
		<source-file src="src/android/android-logging-log4j-1.0.3.jar" target-dir="libs"/>
		<source-file src="src/android/log4j-1.2.17.jar" target-dir="libs"/>
		<source-file src="src/android/org.eclipse.paho.client.mqttv3.jar" target-dir="libs"/>
		<source-file src="src/android/org.eclipse.paho.androidservice.jar" target-dir="libs"/>
		
		<config-file target="res/xml/config.xml" parent="/*">
			    <preference name="mqttServerURL" value="$mqtt_server"/>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="org.eclipse.paho.android.service.MqttService">
	        </service>
	        <receiver android:name="com.justep.x5.service.CoreServiceDaemonReceiver">
	            <intent-filter>
	                <action android:name="android.intent.action.BOOT_COMPLETED"/>
	                <action android:name="android.intent.action.SCREEN_ON" />
	            </intent-filter>
	        </receiver>
	        <service 
	            android:name="com.justep.x5.service.CoreService" 
	            android:exported="false">
	        </service>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WAKE_LOCK" />
		    <uses-permission android:name="android.permission.FLASHLIGHT" />
		    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
		    <uses-permission android:name="android.permission.VIBRATE" />
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		    <uses-permission android:name="android.permission.INTERNET" />
		    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
		</config-file>
		
		<config-file target="config.xml" parent="/*">
            <feature name="PushPlugin">
		        <param name="android-package" value="com.justep.cordova.plugin.push.PushPlugin"/>
		        <param name="onload" value="true"/>
		    </feature>
        </config-file>
		
	</platform>
	
	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PushPlugin">
                <param name="ios-package" value="PushPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
         <js-module src="www/ios/push.js" name="push">
			<clobbers target="navigator.push" />
		</js-module>
        <header-file src="src/ios/AppDelegate+notification.h" />
        <source-file src="src/ios/AppDelegate+notification.m" />
        <header-file src="src/ios/PushPlugin.h" />
        <source-file src="src/ios/PushPlugin.m" />
    </platform>
	
	
</plugin>
